{% extends 'TrsteelBlogBundle::Backend/layout.html.twig' %}

{% block trsteel_blog_layout %}
<h1>{% block title %}Edit Post: {{ post.title }}{% endblock %}</h1>

<form action="{{ path('trsteel_blog_backend_post_edit', { 'id': post.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" formnovalidate="formnovalidate">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('trsteel_blog_backend_post_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}